@font-face {
  font-family: 'Chicken Fajitas';
  src: url(../fonts/chickenfajitas.otf) format("opentype"); }

.brand {
  font-family: 'Chicken Fajitas';
  font-size: 2.1rem; }

body {
  background-color: #161616;
  font-family: 'Dosis', sans-serif; }

nav {
  height: 70px; }
  nav a.brand-logo {
    height: 100%; }
  nav ul li.active {
    background-color: transparent; }
  nav ul li.active a {
    color: red; }

ul.sidenav {
  background-color: #aaaaaa; }
  ul.sidenav .header {
    padding: 0 32px; }
  ul.sidenav li.active a {
    color: red; }

.red-text {
  color: red; }

form div.row {
  margin-bottom: 0px; }

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: white !important; }

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important; }

.input-field input, .input-field textarea {
  color: white; }

.image-link {
  max-width: 100%;
  opacity: 1;
  transition: opacity .4s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1px;
  border: 1px solid #242424; }
  .image-link:hover {
    opacity: .8;
    transition: opacity .4s; }

@media screen and (max-width: 600px) {
  .brand {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: inherit; } }
