body {
    background-color: rgb(22, 22, 22)
}

nav ul li.active {
    background-color: transparent
}

nav ul li.active a {
    color: red
}

.art-caption h1,p {
    color: rgb(0, 162, 255)
}

.red-text {
    color: red;
}

form div.row {
    margin-bottom: 0px;
}
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: white !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input, .input-field textarea {
    color: white
}