@font-face {
    font-family: 'Chicken Fajitas';
    font-display: auto;
    src: url(../fonts/chickenfajitas.otf) format("opentype");
}

.brand {
    font-family: 'Chicken Fajitas';
    font-size: 2.1rem;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem; // Leave space for the footer
}

div.main-content {
    animation: fade-in .7s;
}
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

nav {
    height: 70px;
    a.brand-logo {
        height: 100%;
    }
    ul {
        li {
            a {
                color: white;
                transition: color .4s;
            }
            &.active {
                background-color: transparent;
                a { color: red; }
            }
            &:hover {
                a {
                    color: red;
                    transition: color .4s;
                }
            }
        }
    }
}
ul.sidenav {
    background-color: rgb(170, 170, 170);
    .header {
        padding: 0 32px;
        a {
            color: black;
        }
    }
    li.active a {
        color: red;
    }
}

form div.row { margin-bottom: 0px; }

// label focus color
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: white !important;
}
// label underline focus color
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input, .input-field textarea {
    color: white
}

.image-link {
    max-width: 100%;
    opacity: 1;
    transition: opacity .4s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1px;
    border: 1px solid rgb(36, 36, 36);
    
    &:hover {
        opacity: .8;
        transition: opacity .4s;
    }
}

div.carousel.carousel-slider {
    z-index: 1;
    background-color: black;
    max-height: 70vh;
    &.traditional {
        max-height: 100vh;
    }
    a.carousel-item {
        cursor: default;
        min-height: 150px;
        div.material-placeholder {
            display: block;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        div.video {
            position: relative;
            width: 100%;
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: 2;
            }
        }
    }
    ul.indicators {
        margin: 0 20%; // Free some space so user can interact with video controls
    }
    a.nav-arrow-container {
        position: absolute;
        top: 45%;
        width: 10%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.next {
            right: 0;
            left: auto;
        }
        &.prev {
            left: 0;
            right: auto;
        }
        i {
            color: white; // Default indicator color
            transition: color .3s;
        }
        &:hover i {
            color: rgb(255, 42, 42);
            transition: color .3s;
        }
        // Disable user selection across all browsers
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
}

div.image-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    a {
        margin: 0px 5px;
        &.active {
            filter: contrast(70%);
        }
        &:hover:not(.active) {
            filter: contrast(70%);
        }
        img {
            width: 100%;
            height: auto;
            max-width: 100px;
            min-width: 30px;
        }
        &.video-thumbnail {
            position: relative;
            div.play-button-container {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: rgba(255, 255, 255, 0.7);
                    &.darker {
                        color: rgba(0, 0, 0, 0.6)
                    }
                }
            }
        }
    }
}

div.resume-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100vh;
    }
}

div.sketchfab {
    width: 100%;
    height: 70vh;
    margin-bottom: 50px;
}

div.footer {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
}

.rm-top-margin {
    margin-top: 0;
}

img.materialboxed.center {
    margin: auto;
}
    

$small: 600px;
@media screen and (max-width: $small) {
    .brand {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: inherit;
    }
} 